In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df = pd.read_csv("dataset.csv")
df.head()

   Order ID             Item Name  Product Price  UserId  Ratings
0     25583  Tandoori Mixed Grill          11.95     684        4
1     25583          Madras Sauce           3.95     559        5
2     25583         Mushroom Rice           3.95     629        0
3     25583           Garlic Naan           2.95     192        3
4     25583               Paratha           2.95     835        3

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119183 entries, 0 to 119182
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Order ID       119183 non-null  int64
 1   Item Name      119183 non-null  object
 2   Product Price  119183 non-null  float64
 3   UserId         119183 non-null  int64
 4   Ratings        119183 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 4.5+ MB

In [27]:
user_ratings = df.pivot_table(index=["UserId"],columns=["Item Name"],values="Ratings")
user_ratings = user_ratings.dropna(thresh=10,axis=1).fillna(0,axis=1) 
user_ratings.head()

Item Name,Achar Chicken,Achar Lamb,Aloo Brinjal,Aloo Chaat,Aloo Dupiaza,Aloo Gobi,Aloo Mithy,Aloo Peas,Bangon Hari Mirch,Bhindi Bhajee,...,Vegetable Samba,Vegetable Samosa,Vindaloo,Vindaloo - Chicken,Vindaloo - Chicken Tikka,Vindaloo - King Prawn,Vindaloo - Lamb,Vindaloo - chicken,Vindaloo - lamb,Vindaloo Sauce
UserId,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,5.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,2.25,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0,4.0,...,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
4,5.0,0.0,0.0,0.0,0.0,3.00,0.0,0.0,0.0,0.0,...,0.0,4.0,5.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0

In [26]:
item_similarity_df = user_ratings.corr(method='pearson')
item_similarity_df.head()

Item Name,Achar Chicken,Achar Lamb,Aloo Brinjal,Aloo Chaat,Aloo Dupiaza,Aloo Gobi,Aloo Mithy,Aloo Peas,Bangon Hari Mirch,Bhindi Bhajee,...,Vegetable Samba,Vegetable Samosa,Vindaloo,Vindaloo - Chicken,Vindaloo - Chicken Tikka,Vindaloo - King Prawn,Vindaloo - Lamb,Vindaloo - chicken,Vindaloo - lamb,Vindaloo Sauce
Item Name,,,,,,,,,,,,,,,,,,,,,
Achar Chicken,1.000000,-0.013775,-0.049504,-0.030368,-0.056759,0.051269,0.005138,-0.007474,0.004964,-0.019295,...,0.045780,0.015177,-0.023682,-0.020938,0.081770,0.069607,0.029258,0.018772,-0.029104,0.025325
Achar Lamb,-0.013775,1.000000,0.015685,0.034501,-0.027245,-0.048235,-0.025289,0.019379,0.080431,-0.027501,...,0.048484,0.011068,0.005055,-0.010012,-0.019513,0.019082,0.017064,-0.032676,-0.021668,0.022734
Aloo Brinjal,-0.049504,0.015685,1.000000,-0.058619,0.004034,0.026550,-0.007204,0.002738,0.071752,-0.001486,...,0.051191,-0.046932,0.018141,0.021750,0.016607,-0.035472,0.018776,0.050845,0.005016,0.021735
Aloo Chaat,-0.030368,0.034501,-0.058619,1.000000,-0.013356,0.013879,-0.014401,-0.016684,-0.022450,-0.075870,...,0.025858,0.073821,-0.006637,-0.045130,-0.027047,-0.015806,-0.024267,-0.012073,-0.040122,-0.067355
Aloo Dupiaza,-0.056759,-0.027245,0.004034,-0.013356,1.000000,-0.003778,0.003765,-0.011775,-0.045657,0.018959,...,0.016310,0.022814,-0.009382,0.034179,-0.052990,0.030879,-0.004524,0.025161,-0.013751,-0.054850

### Making Recommendation

In [47]:
def get_similar_food(food_name,user_rating):
    similar_score = item_similarity_df[food_name]*(user_rating-2.5) ## if the rating is below 3 then subtracting by mean rating i.e 2.5 will push them to negative side and vice versa.
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score

In [48]:
food_name_ratings = [("Prawn Karahi",1)] ## Food Name and our rating
similar_foods = pd.DataFrame()

for food,rating in food_name_ratings:
    similar_foods = similar_foods.append(get_similar_food(food,rating),ignore_index=True)

In [49]:
similar_foods.sum().sort_values(ascending=False).head(10)

Chapati                       0.114675
Peshwari Naan                 0.091918
Chilli Paneer                 0.091474
Crispy Aloo                   0.085973
Mint Sauce                    0.074403
Methi                         0.074255
Prawn Puree                   0.071602
Cauliflower Bhajee            0.069968
Aloo Chaat                    0.068154
Tandoori King Prawn Masala    0.065287
dtype: float64

### Making a Pickle File

In [50]:
import pickle 
with open("food_recomm_pickle",'wb')as f:
    pickle.dump(item_similarity_df,f)

In [51]:
with open("food_recomm_pickle","rb") as f:
    food_recom = pickle.load(f)

### Trying to Recommend

In [53]:
def get_similar_food(food_name,user_rating):
    similar_score = food_recom[food_name]*(user_rating-2.5) ## if the rating is below 3 then subtracting by mean rating i.e 2.5 will push them to negative side and vice versa.
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score

In [56]:
food_name_ratings = [("Achar Lamb",4)] ## Food Name and our rating
similar_foods = pd.DataFrame()

for food,rating in food_name_ratings:
    similar_foods = similar_foods.append(get_similar_food(food,rating),ignore_index=True)

In [57]:
similar_foods.sum().sort_values(ascending=False).head(10)

Achar Lamb               1.500000
Korma - chicken-tikka    0.152118
COBRA (330ML)            0.146123
Garlic Rice              0.129970
Chicken Chaat (Main)     0.126662
Chicken Chilli Suka      0.121281
Bangon Hari Mirch        0.120646
Curry - Prawn            0.109102
Bhuna - lamb             0.108354
Bombay Aloo              0.100790
dtype: float64